.btn-secondary{
    background-color: transparent !important;
    border: none;
   
  }

    #dropdownMenuButton{
    border: none;
    box-shadow: none;
    color: white
    }

  .dropdown{

    padding-top: 9%;
    font-size: 3%;
   
  }

  .productDetail{
    padding-top: 10%;
  }

  .details-wereke{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  
  .wereke-top{
    width: 40%;
  }
    
  .wereke-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }

  .wereke-details h4{
    margin-top: 50px;
  }

  .wereke-details div{
    margin-top: 50px;
  }

  .swiper-wrapper{

    display: flex;
    justify-content: center;
    height: 50%;
  }


  