
    .btn-secondary{
        background-color: transparent !important;
        border: none;
       
      }
    
        #dropdownMenuButton{
        border: none;
        box-shadow: none;
        color: black
        }
    
      .dropdown{
    
        padding-top: 9%;
        font-size: 3%;
       
      }
      #dropdownMenuButton1{

        border: none;
        box-shadow: none;
        color: white;
        }

        #dropdownMenuButton2{

            border: none;
            box-shadow: none;
            color: white;
            }
          
            .filterOpt{
              border: 1px solid black;
              display: flex;
              width: 20%;
            }
            
            .filterOpt:hover{
              background-color: rgb(175, 175, 175);
              cursor: pointer;
            }
            
            .disabled {
              display: none;
            }