* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{

font-family: 'Merriweather';
color: #454544;
display: flex;
min-height: 100vh;
flex-direction: column;
}


    .main {
        flex: 1 0 auto;
      }
          

.header{
  
background-color: white;

position: fixed;
width: 100%;
display: flex;
flex-direction: column;
padding-top:2em;



justify-content: center;
align-items: center;

}
.logo{
   /* position: absolute;
   height: 5%;
   top: 20%;
   left: 43%; */

}

.linea-header{

    /* position: absolute;
    top: 43%;
    left: 3%; */

}

.logo{
    margin-bottom: 0.1em;
    width:10%;

}
.nav{
    width:100%;
    display: flex;
    margin-top:2em;
    margin-bottom:1em;
    justify-content: space-between;
    padding-left: 1em;
    padding-right:2em;

    z-index: 1;

}

.list1{
    display: flex;
    align-items: center;

    font-family: 'Merriweather';
    
   
    /* display: flex;
   
    width: 50%;
    justify-content: flex-start; */
    
}

.nav2{
   display: flex;
   align-items: center;
   
    /* display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: flex-end; */
}


.nav-button{
   background-color: transparent;
   border-style: solid;
   border-radius: 5px;
   padding-left:0.3px;
   padding-right:0.3px;

   border: none;
}
.nav-shop{
    width:50%;

}

.nav-menu-link{
    color: grey;
    text-decoration: none;
    margin: 0 10px;
}

.nav-select{
    color: grey;
    text-decoration: none;
}

.nav-menu{
    /* display: flex; */
    font-size: 18px;
    margin: 0 10px;
   
    list-style-type: none;
}
.dropdown-trigger2{
    margin-left: 4%;
}
.dropdown-trigger{

    font-family: 'Merriweather';
}

.dropdown-trigger-title{
    font-family: 'Merriweather';
}

.dropdown-trigger2-title{
    font-family: 'Merriweather';
}
.banner{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url("./imagenes/Banner.png");
    height: 800px;
}
.banner__button{
    display: flex;

    background:transparent;
    border: none;

    max-height: 100%;
}
.banner__button__text{

    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    width:100%;

    margin-left: 86%;
    margin-top: 80%;
    color: #fff;
    
}
.section1__title{
    display: flex;
    margin: 1em;
    width: 5%;
    font-family: 'Merriweather';
    font-size: 70px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }



  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .section1{
    
    background-image: url("./imagenes/Ellipse1.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5%;

  }

  .the-joy{

    font-family: ;
    display: flex;
    justify-content: center;
    padding-left: 59%;
    width: 30%;

    font-size: 36px;
  }
  .carrusel{
    padding-top: 5%;
    display: flex;
    justify-content: space-around;

  }
#img2{
    margin-top: 80%;
}

#img3{
    margin-top: 80%;
}

.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    background-image: url("./imagenes/Best_sellers1.png");

    margin-top: 20%;

    color: #fff;

}

.section5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    background-image: url("./imagenes/Last collection.png");

    margin-top: 20%;

    color: #fff;

}

.section3__title{

    font-size: 70px;
}
.section5__title{
    font-size: 70px;
}
.section5__title__link{

    color: #fff;
   font-size: 30px;
}

.section3__title__link{
    color: #fff;
    font-size: 30px;
}
