* {
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Merriweather Sans', sans-serif;


}
.header{
    position: relative;
}
.logo{
   position: absolute;
   height: 11%;
   top: 20%;
   left: 43%;

}

.linea-header{

    position: absolute;
    top: 43%;
    left: 3%;

}
.header {  
background-color: white;
height:10%;
position: fixed;
width: 100%;
top: 0%;
left: 0%;

}

.list1{

    display: flex;
    justify-content: space-between;
    width: 50%;
    justify-content: flex-start;
    
}

.nav2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: flex-end;
}

.nav-menu-link{
    color: grey;
    text-decoration: none;
}

.nav-select{
    color: grey;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    font-size: 18px;
    margin: 0 10px;
}